.products_main{
	position:absolute;
	top:30%;
	left:20%;
	border:1px solid;
	width:auto;
	height:auto;
}

.row{
	width:auto;
	height:auto;
}

.product_container{
	display:inline-block;
	width:auto;
	margin-left:auto;
	margin:auto;
	padding:10px;
	
}

.product_image{
	display:block;
	margin:auto;	
}

button{
	  background: #682D8B;	  
	  font-family: Arial;
	  width:auto;
	  padding: 5px 10px 5px 10px;
	  text-align:center;
	  color: #ffffff;
	  border: solid #1f628d 1px;
	  text-decoration: none;
	  border-radius: 10px;
}

button :hover {
	background: #682D8B;
	background-image: linear-gradient(to bottom, #682D8B, #5555B0);
	text-decoration: none;
}


button:active {
    color: red;
}

.qty{
	width:15px;
	margin-left:5px;
}

.coupon{
	width:auto;
	margin-left:5px;
}

.btn_max{
	width:100%;
}

.btn_max:hover{
	background: #682D8B;
	background-image: linear-gradient(to bottom, #682D8B, #5555B0);
	text-decoration: none;
}

table{
   border: 1px solid black;
}



td{
	border:none;
}

h4{
	text-decoration:underline;
	padding:none;
	margin:none;
}

.cart{
	position:fixed;
	right:0px;
	width:auto;
	height:300px;
}